    * {
        margin: 0 !important;
        padding: 0 !important;
        font-family: antialiased;
    }

    p {
        color: aliceblue;
        font-size: 0.7vw;
    }

    h3 {
        font-size: larger;
        color: aliceblue;
    }

    .PageName {
        display: flex;
        align-items: center;
        height: 10vh;
        font-size: 1.4vw;
    }

    .BareOfTitles {
        background-color: #040404;

    }

    .scrolable {
        height: 80vh;
        overflow-y: scroll;
        white-space: nowrap;
    }
    .SquadBuilder h3{
        font-size:  1.8vw;
        font-family: antialiased;
    }
    .PlayerCard{
    background-image: url('/assets/badge_gold.webp');
    background-repeat: no-repeat;
    }

    /* #SquadBuilder{
        height: 20vh;
        font-size: 1.8vw;
        display: flex;
        justify-content: center;

    }
    #SquadBuilderTitle{        
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30vh;
            font-size: 1.4vw;
    }

    #ForBG{
        margin-top: 20vh;
        background: url(./assets/https3A2F2Fcdn.png) no-repeat;
    } */